<div id="<%= dom_id meeting %>">
  <p>
    <strong>Name:</strong>
    <%= meeting.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= meeting.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= meeting.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= meeting.color %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= meeting.duration %>
  </p>

  <p>
    <strong>Payment required:</strong>
    <%= meeting.payment_required %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= meeting.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= meeting.user_id %>
  </p>
</div>
